{{#if blogPosts}}
<ul class="blogPosts">
  {{#each blogPosts}}
  <div class="blogPost flex-index">
    <div class="blogPost-title">
      <a href="/{{_id}}">
        <h3>{{ title }}</h3>
      </a>

    </div>
    {{!-- <div class="blogPost-content">
      <p>{{ content }}</p>
    </div>
    <div class="blogPost-action">
      <span class="blogPost__date">{{ createdAt }}</span>
    </div>
    <div class="btn-container">
      <form action="/{{_id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger">delete</button>
      </form> --}}
  </div>

  </div>
  {{/each}}
</ul>
<a href="/new">
  <button class="btn btn-success">new Post</button>
</a>
{{/if}}