{{#if blogPost}}
<div class="blogPost">
  <div class="blogPost-title">
    <h1>{{ blogPost.title }}</h1>
  </div>
  <div class="blogPost-action">
    <span class="blogPost__date">Created: {{ formatDate blogPost.createdAt }}</span>
  </div>
  <div class="blogPost-content">
    <p>{{ blogPost.content }}</p>
  </div>
  <div class="btn-container">
    <form action="/{{blogPost._id}}?_method=DELETE" method="POST">
      <button class="btn btn-danger">delete</button>
    </form>
    <button class="btn btn-info" id="showBtn">edit</button>

  </div>
</div>
{{/if}}
<div class="edit-container">

  <h4>Edit post:</h4>
  <form method="POST" action="/{{blogPost._id}}?_method=PUT" class="row">
    <p class="input-field inline col s10">
      <label for="title"></label>
      <input type="text" name="title" id="">
    </p>
    <p class="input-field inline col s10">
      <label for="content"></label>
      <input type="text" name="content" id="">
    </p>
    <p class="input-field inline col s2">
      <input class="btn btn-warning" type="submit" value="Submit">
    </p>
  </form>
</div>