<a href="/"><button class="btn btn-info">Go Back</button></a>
{{#if blogPost}}
<div class="blogPost">
  <div class="blogPost-title">
    <h1>{{ blogPost.title }}</h1>
  </div>
  <div class="blogPost-action">
    <span class="blogPost__date">Created: {{ formatDate blogPost.createdAt }}</span>
  </div>
  <div class="blogPost-content">
    <p>{{ blogPost.content }}</p>
  </div>
  <div class="btn-container">
    <form action="/{{blogPost._id}}?_method=DELETE" method="POST">
      <button class="btn btn-danger">delete</button>
    </form>
    <button class="btn btn-info" id="showBtn">edit</button>

  </div>
</div>
{{/if}}
<div class="edit-container">

  <form method="POST" action="/{{blogPost._id}}?_method=PUT" class="row">
    <label for="title">Title:</label>
    <input type="text" name="title">

    <label for="content">Content:</label>
    <input type="text" name="content">

    <input class="btn btn-info" type="submit" value="Submit">
  </form>
</div>